In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Importing data
path = r'C:\Users\dylan\Documents\Instacart Basket Analysis\02 Data'
df_prods = pd.read_csv(os.path.join(path, 'Original Data', 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [3]:
#Create a datafraame
df_test = pd.DataFrame()

In [4]:
#Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [5]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [6]:
df_test['mix'] = df_test['mix'].astype(str)

In [7]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
df_nan = df_prods[df_prods['product_name'].isnull() == True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [9]:
df_prods.shape

(49693, 5)

In [10]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_prods_clean.shape

(49677, 5)

In [11]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [12]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [13]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

In [14]:
df_prods_clean_no_dups.to_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'))

In [15]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,order_dow,hour_of_order,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## For the most part the data is pretty straightforward - the dow and hour order min/max fit the expected values, as do the 50% values.

In [20]:
#CHecking for mixed type values
df_ords.head()
df_ords.tail()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,hour_of_order,days_since_prior_order
3421078,3421078,2266710,206209,prior,10,5,18,29.0
3421079,3421079,1854736,206209,prior,11,4,10,30.0
3421080,3421080,626363,206209,prior,12,1,12,18.0
3421081,3421081,2977660,206209,prior,13,1,12,7.0
3421082,3421082,272231,206209,train,14,6,14,30.0

## There were no mixed type columns

In [22]:
#Finding missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
hour_of_order                  0
days_since_prior_order    206209
dtype: int64

In [25]:
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == True]
df_ords_clean.shape

(206209, 8)

## I created a new subset in case analysis needed to be done on days since prior order. There are a large number of missing values likely due to customers ordering daily.

In [29]:
#Checking for duplicate values
df_ords_dup = df_ords_clean[df_ords_clean.duplicated()]
df_ords_dup

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, order_dow, hour_of_order, days_since_prior_order]
Index: []

In [32]:
#Exporting cleaned df_ords
df_ords.to_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'))

In [ ]:
df_ords = df