# Task 4.6

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [4]:
#Importing data
path = r'C:\Users\dylan\Documents\Instacart Basket Analysis\02 Data'

df_ords_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'))
df_ords_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [3]:
df_ords_combined.shape

(32434489, 11)

In [5]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_prods = df_prods.drop('Unnamed: 0', axis=1)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
#Merging the dataframes
df_merged = df_ords_combined.merge(df_prods, on = 'product_id', indicator = 'exists')

In [14]:
df_merged['exists'].value_counts()

exists
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
#Exporting data
df_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))